<% if theaters && theaters.any? %>
  <h2 class="subtitle">Results:</h3>

  <div class="results-container">
  <% theaters.each_with_index do |theater, index| %>
    <div class="result">
      <div class="result__number"><%= index + 1 %></div>
      <div class="result__content">
        <b><%= theater['name'] %></b><br/>
        <%= theater['address'] %>, <%= theater['state'] %>
      </div>
    </div>
  <% end %>
 </div>
<% else %>
  <div class="result">
    <p><b>No results</b></p>
  </div>
<% end %>
