<br />

<% if theaters && theaters.any? %>
  <% theaters.each do |theater| %>
    <b><%= theater['name'] %></b><br/>
    <%= theater['address'] %>, <%= theater['state'] %><br/>
    <br>
  <% end %>
<% else %>
  <p>No results</p>
<% end %>
